.ra-tag {
  .el-tag__content {
    line-height: 14px;
    user-select: none;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .el-icon {
    color: var(--mainColor) !important;
    &:hover {
      color: #fff !important;
      background-color: var(--mainColor) !important;
    }
  }
  &.dot-effect {
    background-color: transparent !important;
    border-color: transparent !important;
    position: relative;
    .el-tag__content {
      .dot {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        display: block;
        width: 4px;
        height: 4px;
        margin-right: 6px;
        border-radius: 50%;
        background-color: var(--mainColor) !important;
      }
    }
  }
}
