:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);

  --vp-home-hero-image-color: transparent;
  --vp-home-hero-image-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
}

.VPImage.image-src {
  top: 60% !important;
}
.VPFeatures {
  margin-bottom: 40px;
}

.vp-doc table {
  margin: 0;
  border-collapse: unset !important;
}
.vp-doc th,
.vp-doc td {
  border: 0;
}

.el-button:focus-visible {
  outline: unset !important;
}
